<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/final/static/style_login.css">
</head>
<body>
    <div class = "box">
        <span class = "borderLine"></span>
        <form>
            <h2>
                Enter your data
             </h2>
            <div class="inputBox">
            <input  type="text" required="required">
            <span>Name</span>
            <i></i>
            </div>
           
            <div class="inputBox">
                <input type="number" required="required">
                <span>ID</span>
                <i></i>
            </div>
           
            <div class="inputBox">
                    <input type="number" required="required">
                    <span>Age</span>
                    <i></i>
           </div>
           
            <div class="inputBox">
                        <input type="any"  required="required">
                        <span>CGPA</span>
                        <i></i>
            </div>
            <input type="submit" value="Confirm">
            
            <input type="submit" value="Show">          
        </form>
    </div>
</body>
</html>