<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_login.css') }}">
</head>
<body>
    <div class="box">
        <span class="borderLine"></span>
        <form action="/login" method="POST" onsubmit="return validateLogin()">
            <h2>Login</h2>
            <div class="inputBox">
                <input type="text" id="username" name="username" required="required">
                <span>Username</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="password" id="password" name="password" required="required">
                <span>Password</span>
                <i></i>
            </div>
            <button type="submit" class="login-btn">Login</button>
        </form>
    </div>
</body>
</html>
